version: 2
updates:

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  # Docker - /src/base/build
  - package-ecosystem: "docker"
    directory: "/src/base/build/8.2"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.3"]
  - package-ecosystem: "docker"
    directory: "/src/base/build/8.3"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.4"]
  - package-ecosystem: "docker"
    directory: "/src/base/build/8.4"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.5"]
  - package-ecosystem: "docker"
    directory: "/src/base/build/8.5"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.6"]

  # Docker - /src/base/fpm
  - package-ecosystem: "docker"
    directory: "/src/base/fpm/8.2"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.3"]
  - package-ecosystem: "docker"
    directory: "/src/base/fpm/8.3"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.4"]
  - package-ecosystem: "docker"
    directory: "/src/base/fpm/8.4"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.5"]
  - package-ecosystem: "docker"
    directory: "/src/base/fpm/8.5"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "php"
        update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
        versions: [">=8.6"]
