root = true

[*]
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Dockerfile]
ident_style = space

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
ident_style = space

[*.{yml,yaml}]
indent_style = space

[*.ini]
indent_style = tab

[*.json]
indent_style = space
