name: Create and publish extension containers.

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string
      stage:
        required: true
        type: string
      actor:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  build-extensions:
    name: Build ${{ matrix.extension }}
    uses: ./.github/workflows/build-extension-wf.yaml
    strategy:
      matrix:
        extension:
          - amqp
          - bcmath
          - composer
          - curl
          - datadog
          - gd
          - intl
          - mbstring
          - mongodb
          - mysql
          - nodejs
          - opcache
          - pcov
          - pcntl
          - pgsql
          - python
          - rdkafka
          - redis
          - saxonc
          - soap
          - sockets
          - xdebug
          - xml
          - xsl
          - zip
    with:
      extension: ${{ matrix.extension }}
      release: ${{ inputs.release }}
      stage: ${{ inputs.stage }}
      actor: ${{ inputs.actor }}
    secrets:
      token: ${{ secrets.token }}
