name: Create and publish environment containers.

on:
  workflow_call:
    inputs:
      registry:
        default: ghcr.io
        type: string
      release:
        required: true
        type: string
      stage:
        required: true
        type: string
      actor:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  dev:
    name: "dev"
    uses: ./.github/workflows/build-wf.yaml
    with:
      name: "dev"
      registry: ${{ inputs.registry }}
      actor: ${{ inputs.actor }}
      command: "make -j4 ${{ inputs.stage }}-env-dev RELEASE=${{ inputs.release }} DEV_BUILD_VERSION=8.5"
    secrets:
      token: ${{ secrets.token }}

  prod:
    name: "prod"
    uses: ./.github/workflows/build-wf.yaml
    with:
      name: "prod"
      registry: ${{ inputs.registry }}
      actor: ${{ inputs.actor }}
      command: "make -j4 ${{ inputs.stage }}-env-prod RELEASE=${{ inputs.release }}"
    secrets:
      token: ${{ secrets.token }}
