name: Create and publish containers reusable workflow.

on:
  workflow_call:
    inputs:
      name:
        required: false
        type: string
        default: "container"
      registry:
        required: true
        type: string
      actor:
        required: true
        type: string
      command:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  container:
    name: build ${{ inputs.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.actor }}
          password: ${{ secrets.token }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build
        run: "${{ inputs.command }} --platform ${{ matrix.platform }} --provenance=false"
